.welcome-login-content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: -20px;
    border-bottom: 1px solid #e7e7e7;
}
.welcome-login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.welcome-inputs {
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 300px;
}

.welcome-login-btn {
    display: flex;
    flex-direction:  column;
    align-items: center;
    flex: 1;
    min-width: 200px;
}

.welcome-login-btn button {
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor:  pointer;
    outline: none;
    white-space: nowrap;
}

.welcome-login-btn button:first-of-type {
    background: #336699;
    color: #FFFFFF;
}

.welcome-login-btn button:hover {
    background: #e7e7e7;
}
.welcome-login-btn button:first-of-type:hover {
    background: #245382;
}

.welcome-login-btn div {
    font-size: 10px;
    margin: 5px 0 2px 0;
}

.save-login {
    align-items:  center;
    display:  flex;
    justify-content:  center;
    position:  absolute;
    right: 5px;
    top: 5px;
    /* height: 15px; */
}

.save-login div {
    font-size:  0.75em;
    color: #666666;
}

.save-login input {
    position: relative;
    z-index: 3;
    margin: -2px 8px 0 0;
    outline: none;
}

.save-login input::after {
    position:  absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    content: '';
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.saveLogInCheck::after {
    content: '\2713' !important;
}

/* WELCOME SPLASH SCREEN */
.welcome-welcome-content {
    position:  absolute;
    left: 0;
    /*     border: 1px dashed blue; */
    height: calc(100vh - 220px);
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content:  center;
    align-items:  center;
  }
  
  .overlay {
    position:  absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(transparent, #FFFFFF 60%);
  }
  
  .welcome-text {
    position:  absolute;
    z-index: 2;
    top: 30px;
    left: 100px;
    right: 100px;
    bottom: 0;
    display:  flex;
    flex-direction:  column;
    align-items:  center;
  }
  
  .welcome-to {
    font-size: 1.25em;
  }
  
  .name {
    font-size:  3em;
    font-weight: 600;
    padding: 0 10px 0 20px;
  }
  
  .name div {
    /* position: absolute; */
  }
  
  .name div:last-of-type {
    margin-top: -21px;
  }

  .info {
    display: flex;
    align-items: center;
    /* background:  #f2f2f2; */
}

.feed-post-img {
    width: 40px;
    height: 40px;
    margin: 10px 20px;
    overflow:  hidden;
    border-radius: 100%;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.feed-post-img img {
    min-width: 100%;
    height: 100%;
    border-radius: 100%;
}

.feed-post-text {
    font-size: 0.8em;
}

.feed-post {
    /* border-bottom: 1px solid #e7e7e7; */
    margin: 20px 0;
    position: relative;
}

.feed-post .text {
    padding: 20px;
}

.feed-border {
    position:  absolute;
    background: linear-gradient(to right, transparent,#e7e7e7,transparent);
    width: 100%;
    height: 2px;
}