.feed-login-content {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 20px;
}
.feed-login {
    display: flex;
    align-items: center;
    width: 60%;
}

.feed-inputs {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.feed-login-btn {
    display: flex;
    flex-direction:  column;
    align-items: center;
    flex: 1;
}

.feed-login-btn button {
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor:  pointer;
    outline: none;
    white-space: nowrap;
}

.feed-login-btn button:first-of-type {
    background: #336699;
    color: #FFFFFF;
}

.feed-login-btn button:hover {
    background: #e7e7e7;
}
.feed-login-btn button:first-of-type:hover {
    background: #245382;
}

.feed-login-btn div {
    font-size: 10px;
    margin: 5px 0 2px 0;
}

.save-login {
    align-items:  center;
    display:  flex;
    justify-content:  center;
    position:  absolute;
    right: 5px;
    top: 5px;
    /* height: 15px; */
}

.save-login div {
    font-size:  0.75em;
    color: #666666;
}

.save-login input {
    position: relative;
    z-index: 3;
    margin: -2px 8px 0 0;
    outline: none;
}

.save-login input::after {
    position:  absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    content: '';
}

.saveLogInCheck::after {
    content: '\2713' !important;
}