.profile-header {
    border-bottom: 1px solid #e7e7e7;
    display:  flex;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}

.profile-img {
    width: 100px;
    height: 100px;
    overflow:  hidden;
    display:  flex;
    justify-content:  center;
    align-items: center;
    border: 5px solid #e7e7e7;
    margin: 0 10px;
}

.profile-img img {
    width: 100%;
}

.profile-name {
    font-size: 1.5em;
    color: #666;
}

.profile-edit {
    position:  absolute;
    right: 0;
}

.profile-about {
    padding: 10px 20px 20px 20px;
    position:  relative;
    display:  flex;
    align-items: center;
}

.saveAboutText {
    position:  absolute;
    right: 0;
}

.profile-about textarea {
    width: calc(100% - 50px);
    resize:  none;
    outline: none;
    margin-bottom: 1px;
}

.profile-about textarea:focus {
    border-bottom: 2px solid #336699;
    margin-bottom: 0px;
}

.profile-posts-header {
    font-size: 1.1em;
    color: #666;
    border-bottom: 1px solid #f2f2f2;
    padding: 2px 10px;
}


.profile-posts {
    padding: 0 10px 10px 10px;
}

.profile-post {
    padding: 10px;
}

.profile-post-date {
    margin-bottom: 5px;
}