* {
  box-sizing:  border-box;
}
body {
  /* width: 100vw; height: 100vh; */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position:  absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 130px;
}

.diagonal-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #4fa4de;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#goHome {
  width: calc(100% - 100px);
  padding: 5px;
  position: relative;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: 250ms;
}

#goHome div {
  color: #FFFFFF;
  font-weight:  600;
  line-height: 0.7;
  font-size: 1.5em;
  text-align: center;
}

#goHome div:last-of-type {
  font-weight:  100;
}

.body {
  width: calc(100vw - 200px);
  /* min-height: 100vh; */
  margin: 75px 100px 0 100px;
  /* position: relative; */
  z-index: 1;
}

/* BUTTON STYLING */
button {
  outline: none;
  background: #f2f2f2;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor:  pointer;
}
button:hover {
  background: #e7e7e7;
}

/* INPUT CONTAINER STYLING */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  position: relative
}

.input-container input {
  position: absolute;
  z-index: 1;
  background: transparent;
  padding: 5px;
  border: 1px solid transparent;
  border-bottom: 2px solid #e7e7e7;
  outline: none;
  width: 100%;
}

.input-container .label {
  position: relative;
  width: 100%; 
  top: 0px;
  transition: 0.5s;
  font-size: 1em;
  color: #999999
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label{
  top: -20px;
  transition: 0.5s;
  font-size: 10px;
}

.one {
  position: absolute;
  width: 0px;
  height: 2px;
  background: #336699;
  margin-top: 13px;
  z-index: 1;
  transition: 0.25s;
}

.input-container input:focus ~ .one {
  width: 100%;
}