.welcome-corner-profile {
    position:  absolute;
    top: 10px;
    right: 10px;
    display:  flex;
    align-items: center;
}

.welcome-corner-profile .user-name {
    padding-right: 10px;
}

.welcome-corner-profile .user-img {
    width: 30px;
    height: 30px;
    justify-content:  center;
    align-items:  center;
    overflow:  hidden;
    border-radius:  100%;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    transition: 250ms;
}

.welcome-corner-profile .user-img:hover {
    border: 1px solid #000000;
}

.welcome-corner-profile .user-name {
    padding-right: 10px;
}

.welcome-corner-profile .user-img img {
    width: 100%;
}