.welcome-corner-profile {
    position:  absolute;
    top: 10px;
    right: 10px;
    display:  flex;
    align-items: center;
}

.welcome-corner-profile .user-name {
    padding-right: 10px;
}

.welcome-corner-profile .user-img {
    width: 30px;
    height: 30px;
    justify-content:  center;
    align-items:  center;
    overflow:  hidden;
    border-radius:  100%;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    transition: 250ms;
}

.welcome-corner-profile .user-img:hover {
    border: 1px solid #000000;
}

.welcome-corner-profile .user-name {
    padding-right: 10px;
}

.welcome-corner-profile .user-img img {
    width: 100%;
}

.welcome-corner-profile .user-sign-out {
    padding: 0px 10px;
    margin: 0 5px;
    font-size: 0.75em;
    cursor:  pointer;
    border-radius: 5px;
    color: #666666;
}

.welcome-corner-profile .user-sign-out:hover {
    background: #f2f2f2;
    color: #000000;
}

.home-welcome-authenticated {
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 90px);
}

/***** NEW POST CONTENT *****/
#welcomeUserContent {
    display:  flex;
    width: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
}

.welcome-img {
    width: 60px;
    height: 60px;
    overflow:  hidden;
    border-radius:  100%;
    border: 2px solid #e7e7e7;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    transition: 250ms;
    cursor: pointer;
}

.welcome-img:hover {
    border: 1px solid #000000;
}

.welcome-img img {
    width: 120%;
}

.welcome-left {
    flex: 1;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    background: #f2f2f2;
}

.welcome-user-container {
    width: 100%;
}

.welcome-new-post-text {
    flex: 4;
}

.welcome-new-post-text textarea {
    width: 100%;
    height: 80px;
    resize:  none;
    padding: 10px;
    display:  flex;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.post-to-feed-btn {
    position:  absolute;
    right: 5px;
    bottom:  5px;
}

.active-textarea-underline {
    height: 2px;
    width: 0;
    background: #336699;
    transition: 250ms;
}

.welcome-new-post-text textarea:focus ~ .active-textarea-underline {
    width: 100%;
}

.home-welcome-authenticated::-webkit-scrollbar {
    width: 10px;
}
 
.home-welcome-authenticated::-webkit-scrollbar-track {
    background: #f2f2f2
}
 
.home-welcome-authenticated::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 5px;
  /* cursor: pointer; */
}